@import './globals.scss';

.footer{
    background-color: var(--background-color);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 40px;
    
    .footer-social{
      display: flex;
      align-items: center;
      gap: 10px;

      a{
        color: var(--black);
        font-size: 20px;
      }
    }
}
